@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(135deg, #f8fff4 0%, #e0ffe7 50%, #cafcd6 200%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.nextjs-portal {
  display: none;
}

body {
  padding: 0 !important;
  overflow: auto !important;
}